.ui.menu {
    margin: 0;
    border-radius: 0;
}

.ui.segment {
    margin: 0;
}

.main {
    min-height:100%;
    padding-bottom:60px;
    box-sizing:border-box;
}

.footer {
    background-color: #212121;
    position: absolute;
    margin-top: 10px;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background: #22335E;
    color: #fff;
}

.masthead.segment {
    min-height: 400px;
    padding: 6em;
    background-color: #76C5F0 !important;
}
.masthead h1.ui.header {
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
    color: #fff;
}

.categories {
    margin-top: 60px;
    margin-bottom: 50px;
}

.error > .message {
    margin-left: 10px;
    margin-right: 10px;
}

.category {
    padding: 40px;
    text-align: center;
    background: #F4BF00;
}

.category h2 {
    font-size: 4em;
    color: #000;
}

.add-form > .error, .add-form > .positive {
    margin-left: 10px;
    margin-right: 10px;
}

.items-list {
    margin-top: 70px;
    margin-bottom: 20px;
}

.empty-items {
    text-align: center;
    margin: 70px;
}

.add-success {
    padding: 70px;
    text-align: center;
}

.add-success h2 {
    color: #F4BF00;
}

.ui.items>.item {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    padding: 20px;
}

.search-result {
    margin-top: 50px;
}

.ui.icon.input>i.icon:not(.link) {
    pointer-events: auto;
}

.ui.items>.item>.image:not(.ui) {
    width: 400px;
	height: 200px;
}

@media only screen and (max-width: 700px) {
    .masthead.segment {
        min-height: 150px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
    .items-list {
        min-height: 200px;
    }
    .ui.search {
        margin-left: -25px !important;
    }
}

@media only screen and (max-width: 767px) {
	.ui.items>.item>.image, .ui.items>.item>.image>img {
		width: 100% !important;
		padding-top: 20px;
	}

	.mw-wrap {
		min-width: 0 !important;
	}
}
