{% extends 'catalog/base.html' %}
{% load static %}
{% block content %}
<div class="ui add-form">
    <div class="ui attached message">
	<div class="header"> Adicionar novo Item </div>
	<p>Preencha todos os campos</p>
    </div>
    {% if form.errors %}
    <div class="ui error message">
	<i class="close icon"></i>
	<div class="header">
	    Alguns errors foram encontrados
	</div>
	<ul class="list">
        {% for field in form %}
          {% if field.errors %}
            {% for error in field.errors %}
              <li>{{ field.label }} - <a href="#id_{{ field.name }}">{{ error|escape }}</a></li>
            {% endfor %}
          {% endif %}
        {% endfor %}
	</ul>
    </div>
    {% endif %}
    <form class="ui form attached fluid segment" method="POST" action="{% url 'add-item' %}" novalidate>
    {% csrf_token %}
    <div class="ui form">
        <div class="field">
            <label>Categorias:</label>
            <small>Selecione uma ou mais</small>
            {{ form.categories }}
        </div>

        <div class="field">
            <label>Título:</label>
            {{ form.title }}
        </div>

        <div class="field">
            <label>Descrição:</label>
            {{ form.description }}
        </div>

        <div class="field">
            <label>Endereço:</label>
            {{ form.address }}
            <div class="map_canvas_wrapper"><div id="map_canvas"></div></div>
        </div>

        <div class="field">
            <label>Telefone:</label>
            {{ form.phone }}
        </div>

        <div class="field">
            <label>Website:</label>
            {{ form.website }}
        </div>

        <div class="field">
            <label>Email:</label>
            {{ form.email }}
        </div>
        <div class="field">
            <label>Digite as letras abaixo:</label>
            {{ form.captcha }}
        </div>
        <button class="ui huge button submit" type="submit">Enviar</button>
    </div>
    </form>
</div>
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">
        $('#id_categories').dropdown();
        $('.message .close')
          .on('click', function() {
                  $(this)
                    .closest('.message')
                    .transition('fade')
                  ;
                })
        ;
    </script>
{% endblock%}
