{% load static %}
<!DOCTYPE html>
<html>
    <head>
	<meta charset="utf-8" />
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <title>{% block title %}BUSQIPIC - Busca de Serviços da Primeira Igreja Presbiteriana de Curitiba{% endblock %}</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">

	<link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-icon-57x57.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-icon-60x60.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon-76x76.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-icon-180x180.png' %}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/android-icon-192x192.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'js/manifest.json' %}">
	<meta name="msapplication-TileColor" content="#76c5f0">
	<meta name="msapplication-TileImage" content="{% static 'img/ms-icon-144x144.png' %}">
	<meta name="theme-color" content="#76c5f0">
        <meta name="apple-mobile-web-app-capable" content="yes" />

        {% block top_scripts %}{% endblock %}
    </head>
    <body>
        <div class="ui inverted menu">
            <div class="ui container">
                <a class="header item" href="/"> BUSQIPIC</a>
                <a class="item" href="{% url 'add-item' %}"> Adicionar Item</a>
                <a class="item" href="{% url 'contact' %}"> Contato</a>
            </div>
        </div>
        <div class="main">
            {% block content %}
            <div class="ui masthead center aligned segment">
                <div class="ui text container">
                    <img src="{% static  'img/busqipic.png' %}" class="ui image" />
                    <h2>Busque serviços e profissionais dentro da nossa comunidade.</h2>
                </div>
            </div>
            <div class="ui center aligned search vertical segment huge">
                <form method="GET" action="{% url 'search' %}">
                    <div class="ui icon input">
                        <input name="q" class="prompt" type="text" placeholder="Busque aqui..">
                        <i class="search icon"></i>
                    </div>
                </form>
            </div>
            <div class="ui center aligned categories">
                <div class="ui grid container four column center aligned stackable">
                    {% for category in categories %}
                    <div class="column">
                        <div class="ui icon header">
                            <a href="{{ category.get_absolute_url }}"><i class="{{ category.icon_name }} circular icon"></i> {{ category.title }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endblock %}
        </div>
	<div class="footer">
	    <div class="ui text center aligned container">
		<small>BUSQIPIC é um projeto do Ministério de Comunicação da Primeira Igreja Presbiteriana de Curitiba. O código fonte desse site está disponível <a target="_blank" href="https://github.com/ipic/yellow-pages">aqui</a></small>
	    </div>
	</div>
    </body>
    <script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
    <script src="//cdn.jsdelivr.net/sharer.js/0.2.16/sharer.min.js"></script>
    {% block extra_scripts%}
    <script type="text/javascript">
        $(document).ready(function () {
            $('i.search').click(function() {
                    $('form').submit();
            })
        });
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-899823-18', 'auto');
	ga('send', 'pageview');
    </script>
    {% endblock %}
</html>
