{% if items %}
<div class="ui items">
    {% for item in items %}
    <div class="item">
	<div class="content">
	    <a class="header">{{ item.title|title }}</a>
	    <div class="meta">
		<p><i class="marker icon"></i> {{ item.address }}</p>
		<p><i class="phone icon"></i> {{ item.phone }}</p>
		<p><i class="globe icon"></i> <a target="_blank" href="{{ item.website }}">{{ item.website }}</a></p>
	    </div>
	    <div class="description">
		<p>{{ item.description }}</p>
	    </div>
	    <div class="extra">
	    {% for category in item.categories.all %}
		    <a href="{{ category.get_absolute_url }}"><div class="ui label"><i class="tag icon"></i> {{ category.title }}</div></a>
	    {% endfor %}
	    </div>
	</div>
        <div class="map image"
	     data-latitude="{{ item.location.coords.1}}"
	     data-longitude="{{ item.location.coords.0}}">
	</div>
    </div>
    {% endfor %}
    {% if page_obj.has_other_pages %}
    <div class="ui pagination menu">
	{% if page_obj.has_previous %}
	    <a class="item" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
	{% else %}
	    <div class="disabled item"><span>&laquo;</span></div>
	{% endif %}
	{% for i in page_obj.paginator.page_range %}
	    {% if page_obj.number == i %}
		<a class="active item">{{ i }}</a>
	    {% else %}
		<a class="item" href="?page={{ i }}">{{ i }}</a>
	    {% endif %}
	{% endfor %}
	{% if page_obj.has_next %}
	    <a class="item" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
	{% else %}
	    <div class="disabled item"><span>&raquo;</span></div>
	{% endif %}
    </ul>
    {% endif %}
</div>
{% else %}
    <div class="ui empty-items">
	<h2>Ainda não existem serviços com esse termo/categoria. Gostaria de adicionar?</h2>
	<p><a href="{% url 'add-item'%}">Clique aqui</a></p>
    </div>
{% endif %}

{% block extra_scripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyAEaQEcJdz2oUSLyxQM5w90TECwfnZwnKU"></script>
    <script>
	// mapas dos eventos
	var maps = document.getElementsByClassName('map');
	for (i = 0; i < maps.length; i++) {
            var map = maps[i];
            var latitude = map.getAttribute('data-latitude');
            var longitude = map.getAttribute('data-longitude');
            var map = new google.maps.Map(map, {
                zoom: 15,
                disableDefaultUI: true,
                zoomControl: false,
                center: new google.maps.LatLng(latitude, longitude),
                mapTypeId: "roadmap"
            });
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(latitude, longitude),
                map: map
            });
	}
    </script>
{% endblock %}
